@use "variables";

@mixin title-4( $size-desktop: 4rem,  $size-mobile: 2.4rem, ) {
    /*font: variables.$medium #{$size-desktop}/1.3 variables.$font-platform;
    font-feature-settings: 'ss01' on;
    letter-spacing: 0.04rem;

    @media #{variables.$mobile} {
        font-size: #{$size-mobile};
        letter-spacing: 0.024rem;
    }*/
}